# Crowbank Intranet Development Configuration

# Flask Environment (dev, test, prod)
FLASK_ENV=dev

# Database Configuration
DB_USER=crowbank
DB_PASSWORD=ZhV8Pk521j1Z
DB_HOST=192.168.0.201
DB_PORT=54320
DB_NAME=crowbank

# Flask Secret Key (randomly generated)
SECRET_KEY=934f32a8f54e47a5a3cee1f94c505580d46a17a672314fa59c17b8122cc642dc

# Logging
LOG_LEVEL=DEBUG 